<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Register</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link href="imges/yashDeveloperfavicon.png" rel="icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>
  .otprelated {
    width: fit-content;
    margin-bottom: 10px;
  }
</style>

<body>
  <h3 style="text-align: center;margin-top: 10px;color: rgb(48, 48, 230);">Welcome to Yash Store
    <small> made by</small>
    <big>
      <span style="color: #FBBC05;">y</span>
      <span style="color: #34A853;">a</span>
      <span style="color: #4285F4;">s</span>
      <span style="color: #EA4335;">h</span>
    </big>
  </h3>
  <div class="main-cont-register">

    <div class="log-flex">
      <div class="login-register">
        <form action="/register" method="POST">
          <div class="login-register-form">
            <div class="logo-login">
              <img width="300px" height="110px" style="border-radius: 7px;" src="/imges/logo.png" alt="">
            </div>

            <div class="form-group">
              <input type="email" id="imput-u" class="form-control" name="username" placeholder="Email address" required>
            </div>
 
            <button type="button" class="btn btn-dark ba otprelated" id="sendOTP">Send OTP</button>

            <div class="form-group" id="otpField" style="display: none;margin-top: 10px;" >
              <input type="text" id="imput-otp" style="background-color: aliceblue;" class="form-control" name="otp" placeholder="Enter OTP" required>
            </div>

            <button type="button" class="btn btn-dark ba otprelated" id="verifyOTP"style="display: none;" >Verify OTP</button>
            
            <div class="form-group">
              <input type="text" id="imput-name" class="form-control" autocomplete="off" name="fullName" placeholder="Full Name"  required>
            </div>

            <div class="form-group">
              <input type="password" id="imput-p" class="form-control" autocomplete="off" name="password" placeholder="Password" required>
            </div>

            <span class="passcheck"><input type="checkbox" onclick="viewPass()" id="passcheck"><label for="passcheck">Show Password</label></span>

            <div class="form-group">
              <input type="password" id="imput-cnf" class="form-control" autocomplete="off" name="cnfpass" placeholder="Confirm Password" required>
            </div>

            <div class="form-group">
              <input type="number" class="form-control" id="imput-c" placeholder="Phone Number" name="phone"  required>
            </div>

            <div class="form-group">
              <input type="date" id="imput-dob" class="form-control" name="dob" autocomplete="off" placeholder="DOB" required>
            </div>

            <button type="submit" class="btn btn-dark ba" id="funNAme">Register</button>
          </div>
        </form>

        <div style="display: flex;align-items: center;" class="div-or-line">
          <div class="div1"></div>
          <div class="div2">or</div>
          <div class="div1"></div>
        </div>

        <div class="other-login">
          <span> <a href="/auth/google"> <i class="fa-brands fa-google"></i> login with google</span></a>
        </div>
        <small style="text-align: center;">For now, the password reset feature <br> is not available so remember your password</small>

      </div>
      <div class="login-register new-register">
        Already have an account?<a href="/login">Login here</a> <br>
      </div>

    </div>
  </div>






  

  <script>
    function viewPass() {
      const passview = document.getElementById("imput-p");

      if (passview.type === 'password') {
        passview.type = 'text'
      }
      else {
        passview.type = 'password'
      }
      const cnf = document.getElementById("imput-cnf");

      if (cnf.type === 'password') {
        cnf.type = 'text'
      }
      else {
        cnf.type = 'password'
      }
    }

    document.getElementById("sendOTP").addEventListener("click", async function() {
    const username = document.getElementById("imput-u").value;
    console.log(username);

    fetch("/send-email-otp", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ username: username })
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Error sending OTP');
        }
        return response.text(); // Return response as text
    })
    .then(data => {
        console.log(data);
        // alert("OTP sent successfully.");
        console.log("otp sent");
        document.getElementById("sendOTP").innerHTML = "otp sucessfully sent";
        document.getElementById("otpField").style.display = "block";
        document.getElementById("verifyOTP").style.display = "block";
    })
    .catch(error => {
        console.error("Error:", error);
        alert("Error sending OTP please ensure correct email");
    });
});

    document.getElementById("verifyOTP").addEventListener("click", async () => {
      const username = document.getElementById("imput-u").value;
      const otp = document.getElementById("imput-otp").value;
  
      try {
        const response = await fetch("/verify-otp", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ username, otp })
        });
  
        const result = await response.json();
  
        if (result.success) {
          // OTP verification successful, enable the register button
         
          document.getElementById("funNAme").disabled = false;
          document.getElementById("verifyOTP").innerHTML = "OTP Verified"
          document.getElementById("otpField").style.display = "none";
          document.getElementById("sendOTP").style.display = "none";
          document.getElementById("imput-otp").style.display = "none";

          const verifyBtn = document.getElementById("verifyOTP");

          setTimeout(() => {
            verifyBtn.style.display = 'none'
          }, 1000);

} else {
          // OTP verification failed, display error message
          alert("Incorrect OTP. Please try again.");
        }
      } catch (error) {
       
        alert("An error occurred. Please try again.");
      }
    });

    const loginSubmitBtn = document.getElementById("funNAme");

    loginSubmitBtn.addEventListener("click",() => {
      const usernameForImg = document.getElementById("imput-u").value;

      let usernameArry = usernameForImg;

      let arr = usernameArry.split('');

      localStorage.setItem('arr', JSON.stringify(arr));
    });
  </script>
</body>
</html>
