<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>No worry we don't have any major terms and condition</h2>
    <h5>we just take your email and phone as your data <b>don't worry your data is safe</b></h5>
    
</body>
</html>